@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}
/*---------Navbar styling----------------*/
.navbar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 223px;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 2px 4px 10px 1px rgba(138, 125, 125, 0.25);
}

    /* Set the style for the links inside the navbar */
    .navbar a {
        display: block;
        color: #7b7b7b;
        text-decoration: none;
        padding: 10px;
        margin-left: 10px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        max-width: 160px;
        /* identical to box height */
        letter-spacing: 0.04em;
    }

        /* Change the color of the link when it's hovered over */
        .navbar a:hover, .navbar a:focus, .item-selected {
            background: #F5F5F5;
            border-radius: 7px;
            outline: none;
        }

.premium_button {
    width: 167.48px;
    height: 42px;
    background: linear-gradient(265.55deg, #3EC1C7 19.07%, #18939C 101.72%);
    border-radius: 7px;
    border: none;
    color: #fff;
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-left: 20px;
    transition: background-color 0.3s ease;
}


    .premium_button:hover {
        background: linear-gradient(265.55deg, #18939C 19.07%, #3EC1C7 101.72%);
    }

.home {
    margin-top: 20px;
    border-radius: 7px;
    max-width: 160px;
    color: red;
}

.navbar i {
    margin-right: 10px;
}

.plogo {
    width: 115.17px;
    height: 69.3px;
    margin-bottom: 16px;
}
/*------Navbar section End*/
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    
    background: url('Images/bg.jpg')no-repeat;
    background-position: center;
    background-size: cover;
}
.form-box{
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;

}
h2{
    font-size: 2em;
    color: #fff;
    text-align: center;
}
.inputbox{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}
.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}
input:focus ~ label,
input:valid ~ label{
top: -5px;
}
.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding:0 35px 0 5px;
    color: #fff;
}
.inputbox ion-icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}
.forget{
    margin: -15px 0 15px ;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: space-between;  
}

.forget label input{
    margin-right: 3px;
    
}
.forget label a{
    color: #fff;
    text-decoration: none;
}
.forget label a:hover{
    text-decoration: underline;
}
button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}
.register{
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}
.register p a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
.register p a:hover{
    text-decoration: underline;
}