.logintitle p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height */

  letter-spacing: 0.04em;

  color: #ffffff;
}

.logintitle h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 1000px;
  font-size: 22px;
  line-height: 35px;
  letter-spacing: 0.04em;

  color: #ffffff;
}

.loginpage {
  width: 301px;
  height: 505px;
  background: #209da5;
  border-radius: 20px;
  margin-left: 250px;
  padding: 30px;
}

/* Code for testimonial section */
.testimonial-container {
    width: 300px;
    height: 191px;
    position: relative;
    overflow: hidden;
  }
  
  .testimonial-card {
    width: 268px;
    height: 191px; 
    background: #008A93;
    border-radius: 17px;
  }
  
  .testimonial-card.active {
    display: block;
  }
  
  .testimonial-content {
    padding: 10px;
  }
  
  .testimonial-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 10px;
  }
  
  .testimonial-name {
    font-weight: bold;
  }
  
  .testimonial-role {
    color: #888;
    font-style: italic;
  }
  